{% extends 'base.html' %}

<!--Block content goes below-->


  {% block content %}
  <h1 class="text-center text-white">Hello, world!</h1>
  <div class="container mt-5 mb-3">
  <h3 class="mb-3">Read the best bolg in town</h3>
  <div class="row">
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/id/237/200/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <i class="fa-brands fa-gratipay"></i>
    <a href="#" class="btn btn-danger">View Blog</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/id/237/200/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/seed/picsum/200/200" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/200/300/?blur=2" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/200/300.webp" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  <div class="col lg-4">
  <div class="card" style="width: 18rem;">
  <img src="https://picsum.photos/200/300/?blur" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div></div>
  </div>
  </div>

  {% endblock %}